*/__pycache__/*
sdm/train_data/chl/*
sdm/train_data/par/*
sdm/train_data/poc/*
sdm/train_data/sst/*
sdm/train_data/maxent_model.joblib
.gitignore
TODO.md
WDPA_WDOECM_Sep2025_Public_marine
WDPA_WDOECM_Sep2025_Public_marine_csv
WDPA_WDOECM_Sep2025_Public_marine_shp
*.qgz
.venv