affine==2.4.0
attrs==25.3.0
Cartopy==0.25.0
certifi==2025.8.3
cftime==1.6.4.post1
click==8.3.0
click-plugins==1.1.1.2
cligj==0.7.2
cloudpickle==3.1.1
contourpy==1.3.3
cycler==0.12.1
elapid==1.0.2
fonttools==4.60.1
geopandas==1.1.1
joblib==1.5.2
kiwisolver==1.4.9
llvmlite==0.45.1
matplotlib==3.10.6
ncl==0.0.1
netCDF4==1.7.2
numba==0.62.1
numpy==1.26.4
packaging==25.0
pandas==2.3.3
pillow==11.3.0
pyogrio==0.11.1
pyparsing==3.2.5
pyproj==3.7.2
pyshp==2.3.1
python-dateutil==2.9.0.post0
pytz==2025.2
rasterio==1.4.3
rtree==1.4.1
scikit-learn==1.5.2
scipy==1.16.2
shap==0.48.0
shapely==2.1.2
six==1.17.0
slicer==0.0.8
threadpoolctl==3.6.0
tqdm==4.67.1
typing_extensions==4.15.0
tzdata==2025.2
xarray==2025.9.1
